
<!-- Я надеюсь, что оно заработает. :А  -->
<!-- АХЕРЕТЬ ОНО ВНАТУРЕ РАБОТАЕТ АПХВХАПХВАХПХВАХПХВАХПХВАПХ. :А  -->

<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>



<!-- Как-то подключить стили нада. А так хз, подумаю. :А  -->

<header>
        <div class="inner">
            <div class="logo">
                <div>
                    <!-- The below line can be an image or a h1, either will work -->
                    <img src="assets/logo.png" alt="Мужик-Дружба">
                    <!-- <h1>My Logo</h1> -->
                </div>
            </div>

            <nav>
                <li><span><a href="">О нас</a></span></li>
                <li><span><a href="">Кружки</a></span></li>
                <li><span><a href="">Наши успехи</a></span></li>
                <li><span><a href="" class="button">Перейти в кабинет</a></span></li>
            </nav>
        </div>
    </header>



<!-- Доп.контент :А  -->
    {% block content %}


    {% endblock %}


<!-- Футер :А  -->

<footer>
    <div class="innerfooter" >


    </div>


</footer>


    
</body>

</html>

<!-- Полный сайт потом, сейчас сделаю больше наши все html :А  -->